# Jackson Python Sequences:

In Python, sequence is a generic term for an ordered collection of elements. Sequences provide powerful ways to store, access, and manipulate ordered collections of data. We actually have a choice of sequences: lists, tuples, arrays. As a matter of fact a string is a "sequence" in that it is an ordered sequence of characters. In sequences, ordered collection of elements, each element is assigned an index based on its position in the sequence, starting with 0.

## Python Sequences: Lists

Lists are among the most flexible and widely used data structure in Python. Lists allow you to store sets of information in one place, whether you have just a few items or millions of an item. They are essentially a collection of items in a particular order and you can put anything you want into a list. 

The syntax is simple: square brackets form the list

Each individual item has quotations and is separated by commas.

### Lists: Example

Below is a list called aussi_animals with a few types of animals indigenous to Australia.

In [2]:
aus_animals = [ 'wombats', 'dingos', 'kangaroos', 'wallabees', 'koala']
#How can you check to see the type of object you created?
print(type(aus_animals))
print(aus_animals)

<class 'list'>
['wombats', 'dingos', 'kangaroos', 'wallabees', 'koala']

1. Create a list of the UN Security Council Members and assign it the variable un_sc

In [3]:
# your code here:
un_sc = [ 'China', 'France', 'Russian Federation', 'United Kingdom', 'United States', 'Algeria', 'Ecudaor', 'Guyana', 'Japan', 'Malta', 'Mozambique', 'Republic of Korea', 'Sierra Leone', 'Slovenia', 'Switzerland']

2. What is the type of the variable un_sc?

In [5]:
# your code here:
print(type(un_sc))

<class 'list'>

3. What is the length of the variable un_sc?

In [6]:
# your code here:
len(un_sc)

15

## Another Way to Make a List. the list() method
So, we saw that we can make a list using square brackets. We can also make a list using the list() function

In [7]:
#4. Run this please: 
nums = list((1,2,3,4))
print(nums)

[1, 2, 3, 4]

That worked for numbers! Would it work the same for strings? Sure it does!

In [8]:
#5. Run this please: 
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya']

## Accessing Elements in a List

As with strings, lists can be accessed by index. To access an element in a list, write the name of the list, followed by the index of an item in square brackets.

In [9]:
#6 Example, run this please:
aus_animals = [ 'wombats', 'dingos', 'kangaroos', 'wallabees', 'koala']
print(aus_animals[1])

dingos

Recall, Python indexing starts with 0. So it makes sense that the item in position 1 would be dingos.
As we can see, Python returns the item without brackets of quotations. So what is the type of this object returned?

In [10]:
7.  #your answer here:
print(type(aus_animals[1]))

<class 'str'>

Yes, a string! So we can call string methods on the item using it's index in a list

In [12]:
#8 Run this example please:
print(aus_animals[1].capitalize())
print(aus_animals[2].title())

Dingos
Kangaroos

In [14]:
#Let's say we wanted to make all of the countries in our un_sc variable all caps. One way to do it is like this:
   
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']

# Use indexing to convert each element to uppercase
un_sc[0] = un_sc[0].upper()

un_sc[1] = un_sc[1].upper()

un_sc[2] = un_sc[2].upper()

un_sc[3] = un_sc[3].upper()

un_sc[4] = un_sc[4].upper()

print(un_sc)

['CHINA', 'FRANCE', 'RUSSIA', 'UNITED STATES OF AMERICA', 'UNITED KINGDOM']

## For loop with lists
This is where our for loop could come in handy. A faster way is to automate the uppercase method, taking each element in the list and applying the upper method to it (iterating through the list) and then saving the new uppercase country to a new list.

In [ ]:
#Let's iterate through the list and print the results making each element uppercase

In [15]:
#9. Run this please:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    print(country.upper())

CHINA
FRANCE
RUSSIA
UNITED STATES OF AMERICA
UNITED KINGDOM

In [ ]:
10. What would happen if I printed un_sc? Have you changed this list?

In [16]:
#Your answer here using sentences: No, because we did not save the upper values in the un_sc variable. un_sc still holds the original values.
print(un_sc)

['china', 'france', 'russia', 'united states of america', 'united kingdom']

You may be wondering...can I just do it this way

In [17]:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    country.upper()
print(un_sc)

['china', 'france', 'russia', 'united states of america', 'united kingdom']

11. What did the previous code produce? Why? Your answer here using sentences:

It printed the original list without any manipulation because even though the upper method was parsed through the list the modified lsit was not saved within the un_sc variable

How about this way (below)? Will this work?

In [18]:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    un_sc_upper = country.upper()
print(un_sc_upper)

UNITED KINGDOM

12. What result does the previous cell return? Why didn't it make each element in un_sc uppercase? Your answer here:

We only get "UNITED KINGDOM" because the un_sc_upper variable is overwritten in each iteration of the loop and tThe print statement is outside the loop, so it only executes once after the loop completes.

## Correct Way to Iterate and Make a New List: Make an Empty List and "Append" to it!

In [21]:
# 13, Run this please
#first initialize and empty list
un_sc_upper = []

#then iterate through the list, then make each element an uppercase and add it (append it) to the empty list.

un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    un_sc_upper.append(country.upper())

print(un_sc_upper)

['CHINA', 'FRANCE', 'RUSSIA', 'UNITED STATES OF AMERICA', 'UNITED KINGDOM']

## What if I wanted to only grab certain countries that stated with 'u'? We can use a conditional and the append method

#14. Create a for loop. Using an if, else construction in your for loop, append countries to a list called 'u_countries' and append the rest of the countries to a list called 'non_u_countries'.

In [24]:
#Your code here:
u_countries = []
non_u_countries = []

un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    if country[0].upper() == "U":
        u_countries.append(country)
    else:
        non_u_countries.append(country)

print(u_countries)
print(non_u_countries)

['united states of america', 'united kingdom']
['china', 'france', 'russia']

In [34]:
#Your code here:
u_countries = []
non_u_countries = []

un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    if country.upper().startswith("U"):
        u_countries.append(country)
    else:
        non_u_countries.append(country)

print(u_countries)
print(non_u_countries)

['united states of america', 'united kingdom']
['china', 'france', 'russia']

## Adding to a list
We can also use append to add an element to a list. For example, let's say we wanted to add Josh to our list of students.

In [25]:
15. #Please run the following code:
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.append('Josh')
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Josh']

What if we wanted to add several students to our list? We use the extend method!

In [26]:
#16. Will this work? Please run this code:
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.append('Didace', 'Jennifer')
print(students)

TypeError: list.append() takes exactly one argument (2 given)

#What error did this return? How do interpret it? Your answer here:
The error highlights that append method can take only 1 argument which means we can only append one item at a time

In [30]:
#17. Extend works. But we must pass multiple elements to the extend function as a list.
#Please run this code and make sure it works.
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.extend(['Didace', 'Jennifer'])
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']

In [32]:
#18. Extend can be used to add a list of elelments, a tuple(tuple...we will get to it!) of elements and even a string.
# Please read this code and run it.

#Initial list of students
students = ['Austin', 'Chris', 'Oliver', 'Nancy']

# Extending the list with another list
new_students_list = ['Dana', 'Shreya']
students.extend(new_students_list)

# Extending the list with a tuple
new_students_tuple = ('Anoushka', 'Aishwarya')
students.extend(new_students_tuple)

# Extending the list with a string (each character will be added as a separate element)
new_students_string = "Eve"
students.extend(new_students_string)

# Final list
print(students)

['Austin', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Anoushka', 'Aishwarya', 'E', 'v', 'e']

## What's a Tuple?

A tuple in Python is an immutable, ordered collection of elements, similar to a list. However, unlike lists, tuples cannot be modified after they are created, meaning you cannot add, remove, or change elements once the tuple is defined.

Key Characteristics of Tuples:

Ordered: The elements in a tuple are ordered, and you can access them using an index (just like in lists).

Immutable: Once a tuple is created, its contents cannot be changed (i.e., no adding, removing, or changing elements). But as we saw above, a tuple can be added to a list. 

Can contain mixed data types: A tuple can hold elements of different types, such as integers, strings, floats, and even other tuples or lists.

Indexable and iterable: You can access elements using an index and iterate over the elements using a loop.

Allows duplicates: Tuples can contain duplicate elements, just like lists

### Creating a Tuple:
Tuples are created by enclosing the elements inside parentheses () and separating them by commas.

In [35]:
# Creating a tuple with mixed data types
my_tuple = (1, 'apple', 3.14, 'banana')

print(my_tuple)       # Output: (1, 'apple', 3.14, 'banana')
print(my_tuple[1])    # Output: 'apple'

(1, 'apple', 3.14, 'banana')
apple

In [2]:
## Okay back to lists: other ways to add elements.
#Please run this code

composers = []
composers.append('Bach')
composers.append('Joplin')
composers.append('Debussy')
composers.append('Isang')
composers.append('Rachmaninoff')
print(composers)

['Bach', 'Joplin', 'Debussy', 'Isang', 'Rachmaninoff']

In [ ]:
#What if I wanted to add a composer to the list but not at the end? Insert takes two arguments, index position, and element.

In [3]:
#19. Please run this code

composers.insert(2, 'Bhoi')
print(composers)

['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']

In [4]:
#20. Can you insert more than one element at a time?
#Please insert Dikshitar in position 1 and Saz in position 3 to your composer list in position.
# Your answer yes or no to the first question. And write code here:
# No, insert let's you enter only oen item at a time. 

composers.insert(1, 'Dikshitar')
composers.insert(3, 'Saz')
print(composers)

['Bach', 'Dikshitar', 'Joplin', 'Saz', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']

## Sort the previous list alphabetically: Sort and Sorted!
The primary difference between the list sort() and the sorted () function is that the sort() function will modifu the list it is called on. The sorted() function will create a new list containing a sorted version of the list it is given. The sorted() function will not modify the list passed as a parameter. If you want to sort a list but still have the original unsorted version, then you would use the sorted() funciton. If maintaing the orifinal order of the lis tis unimportant, then you can call the sort () function on the list.

In [5]:
#21. Please run this code:
sorted_composers = sorted(composers)
print(sorted_composers)
print(composers)
#note we have done nothing to alter our first list.

['Bach', 'Bhoi', 'Debussy', 'Dikshitar', 'Isang', 'Joplin', 'Rachmaninoff', 'Saz']
['Bach', 'Dikshitar', 'Joplin', 'Saz', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']

In [7]:
#22. Please run this code:
composers.sort()
#Will permanently alter the order of your list
print(composers)

['Bach', 'Bhoi', 'Debussy', 'Dikshitar', 'Isang', 'Joplin', 'Rachmaninoff', 'Saz']
['Bach', 'Bhoi', 'Debussy', 'Dikshitar', 'Isang', 'Joplin', 'Rachmaninoff', 'Saz']

In [9]:
#23. Please create a new list of numbers, but do not change the original list. Please first, 
#print the numbers to confirm the code to generate them worked.
import random
# this line of code allows me to create a 250 long list of random numbers between 10 and 1000.
numbers = random.sample(range(10,1000), 250)
print(numbers)
#Your code here:
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[982, 901, 80, 588, 800, 877, 307, 482, 266, 821, 538, 112, 900, 442, 974, 567, 395, 309, 725, 396, 125, 937, 984, 331, 998, 598, 914, 66, 917, 642, 83, 768, 595, 385, 235, 462, 290, 899, 589, 221, 806, 82, 211, 645, 280, 179, 862, 99, 540, 222, 137, 379, 468, 350, 675, 191, 49, 338, 337, 758, 672, 767, 695, 263, 278, 994, 414, 40, 11, 960, 428, 477, 184, 749, 483, 684, 838, 345, 572, 951, 687, 799, 678, 210, 101, 312, 271, 33, 461, 839, 220, 945, 859, 62, 485, 359, 318, 786, 471, 447, 676, 470, 141, 830, 372, 750, 438, 140, 574, 457, 995, 761, 441, 878, 573, 354, 432, 757, 128, 167, 729, 421, 476, 711, 293, 636, 694, 919, 996, 279, 47, 380, 249, 120, 363, 413, 491, 577, 728, 579, 824, 166, 778, 219, 981, 849, 586, 183, 997, 358, 316, 754, 918, 68, 257, 386, 513, 53, 898, 562, 336, 731, 987, 154, 445, 423, 393, 276, 959, 536, 110, 502, 103, 272, 452, 330, 490, 833, 912, 252, 136, 938, 857, 909, 720, 35, 433, 985, 616, 206, 503, 176, 427, 56, 352, 406, 391, 329, 903, 637, 295, 204, 963, 944, 356, 892, 619, 690, 20, 872, 75, 653, 876, 464, 954, 596, 894, 389, 927, 556, 686, 895, 267, 469, 282, 237, 931, 94, 236, 246, 239, 357, 351, 126, 773, 24, 463, 250, 999, 242, 415, 738, 275, 537, 182, 95, 697, 262, 301, 666]
[11, 20, 24, 33, 35, 40, 47, 49, 53, 56, 62, 66, 68, 75, 80, 82, 83, 94, 95, 99, 101, 103, 110, 112, 120, 125, 126, 128, 136, 137, 140, 141, 154, 166, 167, 176, 179, 182, 183, 184, 191, 204, 206, 210, 211, 219, 220, 221, 222, 235, 236, 237, 239, 242, 246, 249, 250, 252, 257, 262, 263, 266, 267, 271, 272, 275, 276, 278, 279, 280, 282, 290, 293, 295, 301, 307, 309, 312, 316, 318, 329, 330, 331, 336, 337, 338, 345, 350, 351, 352, 354, 356, 357, 358, 359, 363, 372, 379, 380, 385, 386, 389, 391, 393, 395, 396, 406, 413, 414, 415, 421, 423, 427, 428, 432, 433, 438, 441, 442, 445, 447, 452, 457, 461, 462, 463, 464, 468, 469, 470, 471, 476, 477, 482, 483, 485, 490, 491, 502, 503, 513, 536, 537, 538, 540, 556, 562, 567, 572, 573, 574, 577, 579, 586, 588, 589, 595, 596, 598, 616, 619, 636, 637, 642, 645, 653, 666, 672, 675, 676, 678, 684, 686, 687, 690, 694, 695, 697, 711, 720, 725, 728, 729, 731, 738, 749, 750, 754, 757, 758, 761, 767, 768, 773, 778, 786, 799, 800, 806, 821, 824, 830, 833, 838, 839, 849, 857, 859, 862, 872, 876, 877, 878, 892, 894, 895, 898, 899, 900, 901, 903, 909, 912, 914, 917, 918, 919, 927, 931, 937, 938, 944, 945, 951, 954, 959, 960, 963, 974, 981, 982, 984, 985, 987, 994, 995, 996, 997, 998, 999]

In [10]:
#24. How long is the list?
#Your code here:
print(len(numbers))
print(len(sorted_numbers))

250
250

In [16]:
#25. Now reverse your list
#Your code here:
reversed_numbers = tuple(reversed(numbers))
print(reversed_numbers)

reversed_sorted_numbers = tuple(reversed(sorted_numbers))
print(reversed_sorted_numbers)

(666, 301, 262, 697, 95, 182, 537, 275, 738, 415, 242, 999, 250, 463, 24, 773, 126, 351, 357, 239, 246, 236, 94, 931, 237, 282, 469, 267, 895, 686, 556, 927, 389, 894, 596, 954, 464, 876, 653, 75, 872, 20, 690, 619, 892, 356, 944, 963, 204, 295, 637, 903, 329, 391, 406, 352, 56, 427, 176, 503, 206, 616, 985, 433, 35, 720, 909, 857, 938, 136, 252, 912, 833, 490, 330, 452, 272, 103, 502, 110, 536, 959, 276, 393, 423, 445, 154, 987, 731, 336, 562, 898, 53, 513, 386, 257, 68, 918, 754, 316, 358, 997, 183, 586, 849, 981, 219, 778, 166, 824, 579, 728, 577, 491, 413, 363, 120, 249, 380, 47, 279, 996, 919, 694, 636, 293, 711, 476, 421, 729, 167, 128, 757, 432, 354, 573, 878, 441, 761, 995, 457, 574, 140, 438, 750, 372, 830, 141, 470, 676, 447, 471, 786, 318, 359, 485, 62, 859, 945, 220, 839, 461, 33, 271, 312, 101, 210, 678, 799, 687, 951, 572, 345, 838, 684, 483, 749, 184, 477, 428, 960, 11, 40, 414, 994, 278, 263, 695, 767, 672, 758, 337, 338, 49, 191, 675, 350, 468, 379, 137, 222, 540, 99, 862, 179, 280, 645, 211, 82, 806, 221, 589, 899, 290, 462, 235, 385, 595, 768, 83, 642, 917, 66, 914, 598, 998, 331, 984, 937, 125, 396, 725, 309, 395, 567, 974, 442, 900, 112, 538, 821, 266, 482, 307, 877, 800, 588, 80, 901, 982)
(999, 998, 997, 996, 995, 994, 987, 985, 984, 982, 981, 974, 963, 960, 959, 954, 951, 945, 944, 938, 937, 931, 927, 919, 918, 917, 914, 912, 909, 903, 901, 900, 899, 898, 895, 894, 892, 878, 877, 876, 872, 862, 859, 857, 849, 839, 838, 833, 830, 824, 821, 806, 800, 799, 786, 778, 773, 768, 767, 761, 758, 757, 754, 750, 749, 738, 731, 729, 728, 725, 720, 711, 697, 695, 694, 690, 687, 686, 684, 678, 676, 675, 672, 666, 653, 645, 642, 637, 636, 619, 616, 598, 596, 595, 589, 588, 586, 579, 577, 574, 573, 572, 567, 562, 556, 540, 538, 537, 536, 513, 503, 502, 491, 490, 485, 483, 482, 477, 476, 471, 470, 469, 468, 464, 463, 462, 461, 457, 452, 447, 445, 442, 441, 438, 433, 432, 428, 427, 423, 421, 415, 414, 413, 406, 396, 395, 393, 391, 389, 386, 385, 380, 379, 372, 363, 359, 358, 357, 356, 354, 352, 351, 350, 345, 338, 337, 336, 331, 330, 329, 318, 316, 312, 309, 307, 301, 295, 293, 290, 282, 280, 279, 278, 276, 275, 272, 271, 267, 266, 263, 262, 257, 252, 250, 249, 246, 242, 239, 237, 236, 235, 222, 221, 220, 219, 211, 210, 206, 204, 191, 184, 183, 182, 179, 176, 167, 166, 154, 141, 140, 137, 136, 128, 126, 125, 120, 112, 110, 103, 101, 99, 95, 94, 83, 82, 80, 75, 68, 66, 62, 56, 53, 49, 47, 40, 35, 33, 24, 20, 11)

## We learned to add elements, let's talk about how to get rid of them. There are three ways.
1. del (by index)

2. pop(last item)

3. remove(by item name)

In [28]:
#26. Please give an example of each of these techniques.
#Your code here:
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
print(students)

#del
del (students[3])
print(students)

#pop
students.pop()
#students.pop(1)
print(students)

#remove
students.remove("Deven")
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya']
['Austin', 'Deven', 'Chris', 'Nancy', 'Dana', 'Shreya']
['Austin', 'Deven', 'Chris', 'Nancy', 'Dana']
['Austin', 'Chris', 'Nancy', 'Dana']

## Accessing and Changing elements:

In [29]:
#Accessing the first element in the list:
students = ['Austin', 'Chris', 'Oliver', 'Nancy']
first_student = students[0]
print(first_student)

Austin

In [33]:
#27. 
students = ['Austin', 'Chris', 'Oliver', 'Nancy']
print(students)

#Please change Dana for Nancy. Before you go to ChatGPT, think about it. Nancy is in index position 3. 
#Can you just make index postion three of this variable equal to Dana, rather than Nancy?
#Your code here:

students.insert(3, 'Dana')
students.remove('Nancy')
print(students)

['Austin', 'Chris', 'Oliver', 'Nancy']
['Austin', 'Chris', 'Oliver', 'Dana']

In [34]:
students = ['Austin', 'Chris', 'Oliver', 'Nancy']
print(students)

students[3] = 'Dana'
print(students)

['Austin', 'Chris', 'Oliver', 'Nancy']
['Austin', 'Chris', 'Oliver', 'Dana']

 ## Slicing lists
You can slice lists, just like you slice strings, by index.

In [41]:
#28.
composers =['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']
print(composers)

#please slice this list to get a sublist containing Bhoi, Debussy, and Isang and assign it to a variable called 'sublist'
#Your code here:

sublist = composers[2:5]
print(sublist)

['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']
['Bhoi', 'Debussy', 'Isang']

In [43]:
#29. Please give me everything from the beginning to the fourth item using slicing
python_students = ['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
print(python_students)

#your code here:

python_students_slice = python_students[:4]
print(python_students_slice)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
['Austin', 'Deven', 'Chris', 'Oliver']

In [45]:
#30.Please give me everything from the fifth item to the end:
python_students = ['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
print(python_students)

#Your code here:

python_students_slice_2 = python_students[4:]
print(python_students_slice_2)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
['Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']

31.## Hacking Problem
The technique of trying every possible password to gain access to a password restricted website is called a brute-force attack. Loops, both for and while, make this very easy. This is part of the reason why a fairly unsophisticated hacker can still be successful.

Naughty people buy lists of passwords on the dark web and then use brute-force attacks to try to gain access to places they shouldn't be wandering. They often pay for their illicit purchases in bitcoin.

In order to fight wrongdoing, we must imagine the world from their perspective. Some never come back. Others are guided by strong core principles and understand right and wrong.

You are a hacker and have a budget of 3,200 Cape Verde Escudo to buy user passwords. On the AlphaBay Market on the dark web each password sells for .0008 BTC . Write a script that converts Escudo (based on current exchange rate) to dollars, and then dollars to bitcoin. Then output the number of passwords that you are able to buy.

In [54]:
#31a.Your code here:

budget_cve = 3200
cve_dollars_rate = 0.0100
print(budget_cve)
print(cve_dollars_rate)

budget_dollars = budget_cve * cve_dollars_rate
print(budget_dollars)

dollars_bitcoin_rate = 0.000016
print(dollars_bitcoin_rate)

budget_bitcoin = budget_dollars * dollars_bitcoin_rate
print(budget_bitcoin)

cost_per_password_bitcoin = 0.0008
passwords_bought = (budget_bitcoin / cost_per_password_bitcoin)
print(cost_per_password_bitcoin)
print(f"With my budget of 3,200 Escudo I bought {passwords_bought} passwords")

3200
0.01
32.0
1.6e-05
0.000512
0.0008
With my budget of 3,200 Escudo I bought 0.6399999999999999 passwords

Okay, you are off to a very naughty start.

The vendor was generous and gave you more passwords than you could afford. Write a script that calculates how many passwords you got for free in Cape Verde Escudo.

Passwords received: (please ignore italics as markdown interprets characters as commands. double click on markdown cell to access unaltered passwords)

3asdad, letmein@!, qwerty, abc123, trustno1, Ilovesandy, !!@@###123, pl,mjytce!, p@s
lf, 1q2w3e4r, letmein, iloveyou, password1, 1qaz2wsx, qazwsx, 12345, johnsp@ssw0rd, meandmymonkey, xboksrools, qwertyuiop, 77777, 888888, zaq1zaq1, 123qwe, excaliburr!, girlsrule!, @cce$$granted, iRulE!, pewdepieftw1, wtFstfUP, admin, master, sunshinesuzy, bobbyluvsdaBears!,qwertyuiop, w_uts_up, n0uger, aiden123, william123, sally123, pirsquareD, d0nutTreadonme, weedmn, MakeUSgr8, USA#1, FokiSiS, Footbahl, 2#22#1985, 11111, Dodgethis

In [59]:
#31b. Your code here:

passwords_received = ["3asdad", "letmein@!", "qwerty", "abc123", "trustno1", "Ilovesandy", "!!@@###123", "pl,mjytce!", "p@s", "lf", "1q2w3e4r", "letmein", "iloveyou", "password1", "1qaz2wsx", "qazwsx", "12345", "johnsp@ssw0rd", "meandmymonkey", "xboksrools", "qwertyuiop", "77777", "888888", "zaq1zaq1", "123qwe", "excaliburr!", "girlsrule!", "@cce$$granted", "iRulE!", "pewdepieftw1", "wtFstfUP", "admin", "master", "sunshinesuzy", "bobbyluvsdaBears!", "qwertyuiop", "w_uts_up", "n0uger", "aiden123", "william123", "sally123", "pirsquareD", "d0nutTreadonme", "weedmn", "MakeUSgr8", "USA#1", "FokiSiS", "Footbahl", "2#22#1985", "11111", "Dodgethis"]
total_passwords = len(passwords_received)

# Calculate free passwords
free_passwords = total_passwords - int(passwords_bought)

print(free_passwords)

51

Now you have some passwords that you can use to attempt a brute-force attack on a password protected account. Write a script that demonstrates how a brute force attack might work.

For the sake of this exercise, assume the user's password is: 1qaz2wsx

Your script should evaluate each one of the possible passwords. Output- "No, try again" when you hit a wrong password, and "You're in!" when you get it right. When you get it right, the script should stop running. This script should be automated so that it tries each password without you needing to enter it manually.

In [61]:
#31c. Your code here:

passwords_received = ["3asdad", "letmein@!", "qwerty", "abc123", "trustno1", "Ilovesandy", "!!@@###123", "pl,mjytce!", "p@s", "lf", "1q2w3e4r", "letmein", "iloveyou", "password1", "1qaz2wsx", "qazwsx", "12345", "johnsp@ssw0rd", "meandmymonkey", "xboksrools", "qwertyuiop", "77777", "888888", "zaq1zaq1", "123qwe", "excaliburr!", "girlsrule!", "@cce$$granted", "iRulE!", "pewdepieftw1", "wtFstfUP", "admin", "master", "sunshinesuzy", "bobbyluvsdaBears!", "qwertyuiop", "w_uts_up", "n0uger", "aiden123", "william123", "sally123", "pirsquareD", "d0nutTreadonme", "weedmn", "MakeUSgr8", "USA#1", "FokiSiS", "Footbahl", "2#22#1985", "11111", "Dodgethis"]

for password in passwords_received:
    if password == "1qaz2wsx" :
        print("The correct password is 1qaz2wsx")
        break
    else:
        print(f"{password} is not the password")

3asdad is not the password
letmein@! is not the password
qwerty is not the password
abc123 is not the password
trustno1 is not the password
Ilovesandy is not the password
!!@@###123 is not the password
pl,mjytce! is not the password
p@s is not the password
lf is not the password
1q2w3e4r is not the password
letmein is not the password
iloveyou is not the password
password1 is not the password
The correct password is 1qaz2wsx